<h1>Edit Post</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guildelines for posts</p>
    <ul>
      <li>Guildeline #1</li>
      <li>Guildeline #2</li>
      <li>Guildeline #3</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { topic: @post.topic, post: @post } %>
  </div>
</div>
